<launch>
    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="deadzone" value="0.05" />
        <param name="autorepeat_rate" value="5" />
        <param name="coalesce_interval" value="0.1"/>
    </node>
    <node name="teleop_node" pkg="teleop_twist_joy" type="teleop_node" required="true" output="screen">
        <param name="axis_linear" value="1"/>
        <param name="scale_linear" value="0.7"/>
        <param name="scale_linear_turbo" value="1.5"/>
        <param name="axis_angular" value="0"/>
        <param name="scale_angular" value="1"/>
        <param name="enable_button" value="5"/>
        <param name="enable_turbo_button" value="7"/>
    </node>
    <node pkg="move_base" type="move_base" name="move_base" output="screen">
        <param name="controller_frequency" value="10.0"/>
        <rosparam file="$(find htutorial_9)/conf/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find htutorial_9)/conf/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find htutorial_9)/conf/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find htutorial_9)/conf/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find htutorial_9)/conf/trajectory_planner.yaml" command="load" />
    </node>
</launch> 